ul {
    position: relative;
    display: flex;
    flex-direction: column;

}


li {
    list-style: outside none !important;
    padding-left: 1rem !important;
    margin: .5rem 0;
    text-align: justify;
}

.item-span {
    font-weight: bold;
}

