.item{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-inline: 1rem;
}

.no-stock{
    height: 100%;
    width: 100%;
    z-index: 4;
    background: rgba(255, 255, 255, 0.397);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.stock-title{
    color: var(--primary-inverted);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.596);
    text-align: center;
    flex-basis: 100%;
    padding: 1rem;
}

.st-disabled{
    color: var(--neutral);
}