footer {
    min-height: var(--footer-height);
}

.left,
.middle,
.right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem .5rem;
}

.divider {
    height: 1px;
    background-color: rgba(139, 138, 138, 0.1);
    width: 100%;
    margin: .3rem 0;
}

.second-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.b-footer {
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.li-item {
    display: flex !important;
    position: relative
}